@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}


@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: "Lora", cursive;
  --font-nunito: "Nunito", sans-serif;
  --color-brown: #7D451B;
  --color-white: #f7f7f7;
  --color-green: #9BE564;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.drop-shadow-3xl {
  filter: drop-shadow(0 4px 4px rgba(155, 229, 100, 0.8));
}